.list-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0;
    list-style-type: none;
  
    .img-home {
      cursor: pointer;
    }
  
    .img-search {
      cursor: pointer;
    }
  
    .img-login {
      cursor: pointer;
    }
  
    .nav-link {
      &.active {
        .img-home {
            fill: #FF8F71;
        }
  
        .img-search {
            fill: #FF8F71;
        }
  
        .img-login {
            fill: #FF8F71;
        }
      }
    }
  }
  