.div-info {
    color: white;
    .div-title-pop-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .h1-title-info {
        font-weight: lighter;
        font-size: x-large;
    }
    .p-pop-info {
        font-size: x-small;
        background-color: #211F30;
        width: 9vw;
        height: 6vw;
        text-align: center;
        border-radius: 5px;
        line-height: 6vw;
        color: #E0E0E0;
        }
    }
    .div-dur-vote-info {
        display: flex;
        align-items: center;
        height: 8vw;
        .p-dur-info {
            font-size: small;
            color: #BCBCBC;
            padding-right: 5vw;
        }
        .p-vote-info {
            font-size: small;
            color: #BCBCBC;
        }
    }
    .div-release-info {
        .h2-release-info {
            font-size: large;
            font-weight: lighter;
        }
        .p-release-info {
            font-size: small;
            color: #BCBCBC;
        }
    }
    .div-genre-info {
        .h2-genre-info {
            font-size: large;
            font-weight: lighter;
        }
        .p-genre-info {
            font-size: small;
            color: #BCBCBC;
        }
    }
    .div-synopsis-info {
        .h2-synopsis-info {
            font-size: large;
            font-weight: lighter;
        }
        .p-synopsis-info {
            font-size: small;
            color: #BCBCBC;
        }
    }
    .div-related-info {
        .h2-related-info {
            font-size: large;
            font-weight: lighter;
        }
    }
}