.h1-trend {
    color: white;
    font-weight: lighter;
  } 
  .table-trend {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border-spacing: 4vw;
    .img-trend {
      width: 60vw; 
      border-radius: 20px;
      margin-right: 10;
      transition: width 0.2s ease-in-out;
      &.active {
        width: 70vw;
        margin-right: 0;
      }
    }
    .p-trend {
        color: white;
        width: 15vw;
        font-size: 4vw;
        transform: translate(37vw, -91vw);
        background-color: #dadada5c;
        border-radius: 15px;
        padding: 2vw;
    }
  }  